@{
    ViewBag.Title = "Sobre";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>
            Visite <a href="https://github.com/renanbm/ASP.NET---DDD" target="_blank">https://github.com/renanbm/ASP.NET---DDD</a> para conhecer o código
        </p>
    </div>
</div>