<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="DomainValidation" version="1.0.0" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net462" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net462" />
</packages>